@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";

#container {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  margin-top: 51px;
  > div {
    width: 49%;
    height: auto;
    border: 1px solid gray;
    border-bottom: 0px;
    padding: 15px;
  }
  input {
    width: 70%;
    height: 51px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }
  button {
    width: 21%;
    height: 51px;
    font-size: 25px;
    margin-left: 5px;
    background-color: lightblue;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 21px 0px;
  }
}
