@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  margin-top: 51px;
  #ulSearchHolder {
    position: relative;
    width: 99%;
    height: 551px;
  }
  #ulHolder {
    position: relative;
    width: 99%;
    height: 581px;
  }
  h1 {
    text-align: center;
  }
  > div {
    width: 49%;
    height: auto;
    border: 2px solid rgb(160, 156, 156);
    border-radius: 5px;
    padding: 15px;
  }

  input {
    width: 71%;
    height: 51px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    margin-left: 3%;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  button {
    border-radius: 5px;
    transition: all 600ms;
    width: 21%;
    height: 51px;
    font-size: 25px;
    margin-left: 5px;
    background-color: rgb(160, 156, 156);
    color: white;
    border: 0;
    outline: none;
    &:hover {
      opacity: 0.5;
    }
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 21px 0px;
  }
}
ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 244, 244);
    padding: 15px;
    margin: 10px;
    transition: 300ms;
    border-radius: 5px;
    transition: 900ms;
    cursor: pointer;
    &:hover {
      background-color: rgb(247, 244, 230);
    }
    img {
      display: block;
      object-fit: cover;
      width: 134px;
      height: 101px;
    }
    h2 {
      margin: 21px;
      width: 45%;
      margin-right: 10px;
      font-size: 21px;
      font-family: Arial, Helvetica, sans-serif;
      transition: all 300ms;
    }
    &:hover {
      color: darkslategray;
    }
    a#heart {
      margin-right: 10px;
      width: 50px;
      left: -5%;
      top: 25%;
      height: 50px;
      position: relative;
      &::after {
        @include pseudo($content: "\e801");
        top: 12px;
        left: 41px;
        color: rgb(160, 156, 156);
        font-family: $icons;
        font-size: 20px;
      }
      &.active {
        &::after {
          content: "\e802";
          color: #f00;
        }
      }
    }
  }
}
#savedArticle {
  ul {
    li {
      width: 100%;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      background-color: rgb(247, 244, 244);
      margin: 10px;
      transition: 900ms;
      &:hover {
        background-color: rgb(247, 244, 230);
      }
      h3 {
        margin: 21px;
        margin-right: 10px;
        font-size: 21px;
        font-family: sans-serif;
      }
      a {
        position: relative;
        width: 30px;
        top: 31%;
        height: 30px;
        &::after {
          @include pseudo($content: "\e803");
          top: 50%;
          left: 50%;
          margin-top: -10px;
          margin-left: -10px;
          text-align: center;
          color: rgb(160, 156, 156);
          font-family: $icons;
          font-size: 20px;
        }
        &:hover::after {
          color: red;
        }
      }
    }
  }
}

@media only screen and (max-width: 1421px) {
  #container {
    width: 97%;
    #savedArticle ul li h3 {
      font-size: 15px;
    }
    ul li h2 {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 1111px) {
  #container {
    width: 97%;
    #searchArticle {
      width: 100%;
      margin-bottom: 31px;
    }
    #savedArticle {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 641px) {
  #container {
    width: 97%;
    #searchArticle {
      img {
        width: 111px;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        input {
          width: 100%;
          margin-bottom: 21px;
        }
        button {
          width: 100%;
        }
      }
    }
    #savedArticle {
      img {
        width: 111px;
      }
    }
  }
}
@media only screen and (max-width: 641px) {
  #container {
    width: 97%;
    #searchArticle {
      #input {
        width: 91%;
        margin-left: 4%;
      }
      #button {
        width: 92%;
        margin-left: 4%;
      }
      img {
        width: 81px;
        height: 81px;
      }
      h2 {
        font-size: 11px;
      }
    }
    #savedArticle ul li h3 {
      font-size: 11px;
    }
    #savedArticle {
      img {
        width: 81px;
        height: 81px;
      }
    }
  }
}
@media only screen and (max-width: 461px) {
  #container {
    width: 95%;
    #searchArticle {
      a#heart {
        width: 21px;
        left: -15%;
        top: 21%;
        height: 21px;
      }
      img {
        width: 61px;
        height: 61px;
      }
      h2 {
        font-size: 11px;
      }
    }
    #savedArticle {
      img {
        width: 61px;
        height: 61px;
      }
      h3 {
        font-size: 10px;
      }
    }
  }
}

/***************popups styling*******************/
.popupS-layer {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 6px;
  background-color: white;
  margin: 5px;
  z-index: 1000;
}
.popupS-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popupS-close {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  width: 32px;
  height: 40px;
  cursor: pointer;
  z-index: 1020;
}
.popupS-title {
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  z-index: 1001;
}
.popupS-title + .popupS-content {
  padding-bottom: 20px;
}
.popupS-content {
  max-width: 700px;
  scroll-snap-points-x: inherit;
  padding: 77px;
  border-radius: 6px;
}
.popupS-content img {
  display: block;
  object-fit: cover;
  margin-top: 21px;
  width: 100%;
  height: auto;
}
.popupS-content p {
  margin-top: 13px;
  font-size: 11px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
.popupS-layer .btn {
  float: right;
}

/*
* Default Animation
* very Important
*/

.popupS-layer {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.popupS-overlay {
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: rgb(0, 0, 0);
  opacity: 0;
}
.popupS-layer.popupS-open {
  opacity: 1;
}
.popupS-open > .popupS-overlay {
  opacity: 0.6;
}

/* Loader */

@-moz-keyframes spinner {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.popupS-loading {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 30px;
}
.popupS-loading.pulser {
  border: 3px solid #1caff6;
  opacity: 0;
  -moz-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  -webkit-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}
.popupS-loading.spinner {
  border-top: 3px solid #1caff6;
  border-right: 3px solid transparent;
  -moz-animation: spinner 0.6s linear infinite;
  -o-animation: spinner 0.6s linear infinite;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}
/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  margin-left: 5px;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
